<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            padding-inline: 5%;
            padding-top: 1%;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }


        th {
            background-color: #f2f2f2;
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }


        td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .url-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40vh;
        }

        span {
            color: rgb(229, 170, 20);
        }

        .form-container {
            width: 110%;
            gap: 3%;
            display: inline-flex;
        }

        img {
            width: 100px;

        }

        .nav-bar ul {
            padding: 10px;
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            list-style: none;
            font-size: 18px;
            font-weight: 700;

        }

        .nav-bar ul li a {
            text-decoration: none;
        }

        .analytics {
            margin-top: 2%;
        }

        .footer {
            margin-top: 2%;
            color: #000000;

            padding: 10px;

        }

        p {
            color: black;
        }

        .footer-content {
            justify-content: space-between;
            align-items: center;
            display: flex;
        }

        .social-icons a {
            color: #000000;
        
            font-size: 24px;
           
            margin-left: 10px;
         
        }

        .social-icons a:hover {
            color: #ccc;
            
        }
    </style>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>HOME PAGE</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-bar">
                <ul>
                  
                    <li><a href="https://github.com/yashthakare93" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/yash-thakare01/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="/contact" style="color: black;"><i class="fas fa-envelope"></i></a></li>
                    <li>
                        <a href="/logout">
                            <i class="fas fa-sign-out-alt"></i> 
                        </a>
                    </li>
            </div>
        </nav>

        <div class="url-container">
            <h1>URL <span>SHORTNER</span></h1>
            <div class="container-info">
                <% if (locals.id) { %>

                    <p>URL Generate : <a href="<%= baseUrl %>/url/<%= id %>">http://localhost:8001/url/<%= id%>
                        </a></p>
                    <% } %>

                        <div>
                            <form method="post" action="/url">
                                <div class="form-container">
                                    <div class=""><label>Enter Your Original URL</label></div>
                                    <div class=""><input type="text" name="url" placeholder="http://www.example.com">
                                    </div>
                                    <div class=""><button type="submit">Generate</button></div>
                                </div>
                            </form>
                        </div>

            </div>
            </div>
            <div class="analytics"></div>
            <% if (locals.urls) { %>
                <h1>Analytics</h1>
                <table>
                    <thead>
                        <th>sr.no</th>
                        <th>ShortId</th>
                        <th>Redirect</th>
                        <th>Clicks</th>
                    </thead>

                    <tbody>
                        <% urls.forEach(function(url, index) { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <a style="text-decoration: none;" href="<%= baseUrl %>/url/<%= url.shortId %>">
                                        <%= url.shortId %>
                                    </a>
                                </td>
                                <td>
                                    <%= url.redirectURL %>
                                </td>
                                <td>
                                    <%= url.visitsHistory.length %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>

                </table>




                <% } %>
        </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <p>&copy; 2024 YashThakareUrlShortner.</p>
                <div class="social-icons">
                    <a href="https://github.com/yashthakare93" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/yash-thakare01/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script>

        window.addEventListener('pageshow', function (event) {
            // If the page is loaded from the bfcache, reload it
            if (event.persisted) {
                location.reload();
            }
        });
    </script>
</body>

</html>