<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            padding-inline: 10%;
            padding-top: 5%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }


        th {
            background-color: #f2f2f2;
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }


        td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40vh;
        }

        span {
            color: rgb(229, 170, 20);
        }

        .form-container {
            width: 110%;
            gap: 3%;
            display: inline-flex;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>

<body>
    <div class="container">
        <h1>URL <span>SHORTNER</span></h1>
        <div class="container-info">
            <% if (locals.id) { %>

                <p>URL Generate : <a href="<%= baseUrl %>/url/<%= id %>">http://localhost:8001/url/<%= id%>
                    </a></p>
                <% } %>

                    <div>
                        <form method="post" action="/url">
                            <div class="form-container">
                                <div class=""><label>Enter Your Original URL</label></div>
                                <div class=""><input type="text" name="url" placeholder="http://www.example.com"></div>
                                <div class=""><button type="submit">Generate</button></div>
                            </div>
                        </form>
                    </div>
        </div>

    </div>
    <br>

    <% if (locals.urls) { %>
        <h1>Analytics</h1>
        <table>
            <thead>
                <th>sr.no</th>
                <th>ShortId</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>

            <tbody>
                <% urls.forEach(function(url, index) { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <a style="text-decoration: none;" href="<%= baseUrl %>/url/<%= url.shortId %>">
                                <%= url.shortId %>
                            </a>
                        </td>
                        <td>
                            <%= url.redirectURL %>
                        </td>
                        <td>
                            <%= url.visitsHistory.length %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>

        </table>
        
        <% } %>
            <script>
                window.addEventListener('pageshow', function (event) {
                    // If the page is loaded from the bfcache, reload it
                    if (event.persisted) {
                        location.reload();
                    }
                });
            </script>
</body>

</html>